<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>RPReader</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="bootstrap.css">
        <link rel="stylesheet" href="files.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script type="text/javascript" src="https://threejs.org/examples/js/libs/stats.min.js"></script>
        <style>
            body {
    margin: 0;
  }

  canvas {
    display: block;
    vertical-align: bottom;
  }

  /* ---- particles.js container ---- */

  #particles-js {
    position: fixed;
    width: 100%;
    height: 765px;
    background-color:#00a8cc;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  /* ---- stats.js ---- */

  .count-particles{
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  .js-count-particles{
    font-size: 1.1em;
  }

  #stats,
  .count-particles{
    -webkit-user-select: none;
  }

  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }

  .count-particles{
    border-radius: 0 0 3px 3px;
  }
        </style>
    </head>
    <body>
        <div style="height:100%;" id="particles-js"></div>

<!-- stats - count particles -->
        <div class="count-particles">
            <span class="js-count-particles"></span>
        </div>




        <body>
            <nav class="back navbar navbar-dark navbar-expand-md sticky-top">
                <div class="container">
                    <a href="/" class="navbar-brand py-1"><i class="fas fa-scroll"></i>RPReader</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#this">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="this">
                        <ul class="navbar-nav mr-2">
                            <li class="nav-item">
                                <a class="py-1 nav-link" href="/files">My Files</a>
                            </li>
                        </ul>
                        <%  if(username=="undefined"){ %>
                        <ul class="navbar-nav mr-2">
                            <li class="nav-item">
                                <a class="py-1 ml-3 nav-link" href="/login">Login</a>
                            </li>
                        </ul>
                        <%    } %>
                        <%  if(username!="undefined"){ %>
                            <ul class="navbar-nav mr-2">
                                <li class="nav-item dropdown">
                                    <a style="color:rgba(255, 255, 255, 0.5);" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black !important;">
                                        <%= username %>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <% var profile=username +"/"+"profile" %>
                                        <a class="dropdown-item" href="/profile" >Profile</a>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        <% } %>
                    </div>
                </div>
            </nav>

            <div class="mt-5 container">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
                    <input type="text" class="form-control" id="search" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="You can search by the Title, Publisher or Author of research paper">
                </div>
            </div>

            <section class="module parallax parallax-2 pt-5" data-type="background" data-speed="10">
                <div class="w-75 m-auto">
                    <div class="d-flex flex-wrap floa justify-content-start">
                        <!-- <div class="card m-4" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Generative model chatbot for Human Resource using Deep Learning</strong></h5>
                                <p class="card-text"><cite style="font-size:0.9em;">IEEE</cite></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Salim Akhtar Sheikh</li>
                                <li class="list-group-item">Vineeta Tiwari</li>
                                <li class="list-group-item">Sunita Singhal</li>
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="#">More Details</a>
                                    <a href="/download" download>
                                        <img style="height:40px; width:40px;" src="wordpress-pdf-icon.png" alt="Download">
                                    </a>
                                </div>
                            </ul>
                        </div>
                        <div class="card m-4" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Introduction to Algorithms</strong></h5>
                                <p class="card-text"><cite style="font-size:0.9em;">- Thomas H. Cormen</cite></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Design and Analysis of Algorithms</li>
                                <li class="list-group-item">3rd year : 5th sem</li>
                                <li class="list-group-item">CSE / IT / CCE</li>
                            </ul>
                        </div>
                        <div class="card m-4" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Introduction to Algorithms</strong></h5>
                                <p class="card-text"><cite style="font-size:0.9em;">- Thomas H. Cormen</cite></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Design and Analysis of Algorithms</li>
                                <li class="list-group-item">3rd year : 5th sem</li>
                                <li class="list-group-item">CSE / IT / CCE</li>
                            </ul>
                        </div>
                        <div class="card m-4" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Introduction to Algorithms</strong></h5>
                                <p class="card-text"><cite style="font-size:0.9em;">- Thomas H. Cormen</cite></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Design and Analysis of Algorithms</li>
                                <li class="list-group-item">3rd year : 5th sem</li>
                                <li class="list-group-item">CSE / IT / CCE</li>
                            </ul>
                        </div>
                        <div class="card m-4" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Introduction to Algorithms</strong></h5>
                                <p class="card-text"><cite style="font-size:0.9em;">- Thomas H. Cormen</cite></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Design and Analysis of Algorithms</li>
                                <li class="list-group-item">3rd year : 5th sem</li>
                                <li class="list-group-item">CSE / IT / CCE</li>
                            </ul>
                        </div>
                        <div class="card m-4" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Introduction to Algorithms</strong></h5>
                                <p class="card-text"><cite style="font-size:0.9em;">- Thomas H. Cormen</cite></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Design and Analysis of Algorithms</li>
                                <li class="list-group-item">3rd year : 5th sem</li>
                                <li class="list-group-item">CSE / IT / CCE</li>
                            </ul>
                        </div>
                        <div class="card m-4" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Introduction to Algorithms</strong></h5>
                                <p class="card-text"><cite style="font-size:0.9em;">- Thomas H. Cormen</cite></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Design and Analysis of Algorithms</li>
                                <li class="list-group-item">3rd year : 5th sem</li>
                                <li class="list-group-item">CSE / IT / CCE</li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </section>

                        <div class="togg prom card m-5 pt-5" style="width: 100%; background:transparent; border:none; text-align:center;">
                                <h5 class="card-title"><strong style="font-size:2em;">Sorry, there are no papers to display!</strong></h5>
                        </div>


        </body>

            <script type="text/javascript">
                particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 150,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});


            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script src="https://unpkg.com/tilt.js@1.2.1/dest/tilt.jquery.min.js" type="text/javascript"></script>
            <script src="https://kit.fontawesome.com/76d096c304.js" crossorigin="anonymous" async></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js" async></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
            <script src="files.js" charset="utf-8"></script>

</body>
</html>
