  form{
      background: white;
      text-align: center !important;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      border-radius: 20px;
  }
  ::placeholder {
    opacity: 0.7 !important;
  }
  button{
      background-image: linear-gradient(to left,#74ebd5,#9face6);
  }
  h3{
      background: rgb(182, 204, 247);
  }
  .remove{
      color: red;
  }

  nav{
      background: #222222;
      font-family: 'PT Serif', serif;
  }

  .nav-link:hover{
      color: white !important;
  }
