.elements{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.updates{
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 2px;
    align-items: center;
    color:  #08CE7D;
}

.updates hr{
    position: relative;
    top: 5px;
    width: 20%;
    border: 2px solid #08CE7D;
}

.updates:hover{
    cursor: pointer;
}

.events{
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-self: center;
    font-size: 20px;
    letter-spacing: 2px;
    color: #05A7C7;
}

.events hr{
    position: relative;
    top: 5px;
    width: 25%;
    border: 2px solid #05A7C7;
    display: none;
}

.events:hover{
    cursor:pointer;
}


/* Details */

.details{
    width: 100%;
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    height: 600px;
}

.information{
    position: relative;
    top: 7%;
    left: 15%;
    width: 70%;
    background-color: white;
    padding: 10px;
    height: 85%;
    box-shadow: 5px 5px yellow;
    background: transparent;
}

.information text{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    color: #4d3e3e;
}

.information:hover{
    cursor: pointer;
}

/*number1*/

.number1{
    width: 100%;
    height: 70vh;
    background: #30E8BF;
    background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);
    background: linear-gradient(to right, #FF8235, #30E8BF);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box1{
    width: 20%;
    height: 70%;
    border: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    top: 12%;
    background-color: white;
}

/* video */

.video{
    width: 100%;
    height: 700px;
}

.choose{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.head p{
    position: relative;
    display: flex;
    justify-content: center;
    top: 50%;
    font-size: 30px;
    padding: 20px;
}

.head hr{
    width: 7%;
    position: relative;
    left: 45%;
    top: 50%;
    color: blue;
}


.inform{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    position: relative;
    top: 10%;
}

.inform .exp{
    display: flex;
    flex-direction: column;
}

.exp .fas{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.exp strong{
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
}


.exp p{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
}

.chosbtn{
    position: relative;
    display: flex;
    justify-content: center;
    top: 30%;
    padding: 10px;
}

.chosbtn button{
    width: 20%;
    padding: 5px;
    border-radius: 23px;
    border: none;
    font-size: 17px;
    color: white;
    background-color: #035aa6;
    height: 50px;
    cursor: pointer;
}


/*important*/
.important{
    width: 100%;
    height: 95vh;
    background-color: #211717;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.col1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.col2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.col3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.col1 p{
    color: #dddddd;
    padding: 5px;
    font-size: 15px;
    opacity: 0.75;
}

.col2 p{
    color: #dddddd;
    padding: 5px;
    font-size: 15px;
    opacity: 0.75;
}
.col3 p{
    color: #dddddd;
    padding: 5px;
    font-size: 15px;
    opacity: 0.75;
}

.col1 strong{
    font-size: 20px;
}

.col2 strong{
    font-size: 20px;
}

.col3 strong{
    font-size: 20px;
}

.donate{
    width: 40%;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: silver;
    cursor: pointer;
}

.bottom{
    height: 13vh;
    background-color: white;
}

.bottom p{
    padding: 10px;
    font-size: 15px;
}

.contact{
    text-align: end;
    font-size: 12px;
}



@media screen and (max-width:1080px){
    .information text{
        font-size: 15px;
    }
}


@keyframes fadein{
    100%{
        opacity: 1;
    }
}


@keyframes fadeout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
